<nav class="navbar">
  <div class="logo">
    <img
      width="66"
      height="66"
      src="https://img.icons8.com/external-smashingstocks-detailed-outline-smashing-stocks/66/external-sharing-digital-marketing-smashingstocks-detailed-outline-smashing-stocks.png"
      alt="external-sharing-digital-marketing-smashingstocks-detailed-outline-smashing-stocks"
    />
  </div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
  </ul>
   <!-- NAVIGATION MENU -->
   <div class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/">About</a></li>
    <li class="Services">
        <a href="/">Services</a>
        <ul class="dropdown">
            <li><a href="/">Dropdown 1 </a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 2</a></li>
        </ul>
    </li>
    <li><a href="/">Contact</a></li>
   </div>
</nav>
