/* Basic */

.nav-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400%, 400%;
  animation: gradbar 15s ease infinite;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
}

/* Navigation */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  overflow: hidden;
  height: 50px;
}
.navbar img {
  height: 40px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-self: center;
  text-align: center;
  margin-right: 20px;
}

.nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
.nav-item mat-icon {
  font-size: 0.9rem;
  font-weight: 400;
  transition: color 0.3s ease-out;
}
mat-icon:hover {
  cursor: pointer;
  color: #3498db;
}

.nav-item a:hover {
  color: #3498db;
}

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0; /* FOR SAFARI */
  outline: 0;
  padding: 5px;
}

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Sub item */
.sub-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.sub-item {
  width: 100%;
  align-items: center;
  gap: 0.725rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}
